*.elc
.DS_Store
auto-save-list
backups
el-get/*
elpa/*
lib/*
places
server
tramp
vendor/cedet
vendor/decompile.el
vendor/emacs-eclim
vendor/emacs-w3m
vendor/jdee
vendor/pymacs.el
vendor/rsense.el
vendor/yasnippet
