*.elc
.DS_Store
.emacs.desktop*
auto-save-list
backups
elpa/
lib/*
places
server
tramp
TAGS
vendor/decompile.el
vendor/emacs-eclim
vendor/emacs-w3m
vendor/pymacs.el
vendor/rsense.el
vendor/rcodetools.el
vendor/yasnippet
