*.elc
.DS_Store
auto-save-list
backups
el-get/*
el-get-packages/*
lib/*
places
server
tramp
vendor/decompile.el
vendor/emacs-eclim
vendor/emacs-w3m
vendor/pymacs.el
vendor/rsense.el
vendor/rcodetools.el
vendor/yasnippet
